* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: aquamarine;
    border: 2px solid red;
}

.header {
    background-image: url(/stomatopoda.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    border: px solid green;
    padding: 200px;
}

.imagem-cabeçalho {
    position: absolute;
    z-index: 1;
}

.titulo-cabeçalho {
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    border: 5px solid yellow;
}

#conteudo {
    border: 2px solid blue;
}