h3 {
    font-family: monospace;
}

div:hover {
    border: 5px solid gray;
}

div:nth-of-type(1) {
    background-color: red;
    color: white;
}

div:nth-of-type(2) {
    background-color: blue;
    color: white;
}

div:nth-of-type(3) {
    background-color: purple;
    color: white;
    height: 100px;
    font-size: large;
}

div:nth-of-type(4) {
    background-color: rgb(88, 25, 88);
    color: white;
}

div:nth-of-type(5) {
    background-color: rgb(248, 0, 248);
    color: white;
}

div:nth-child(odd) h3 {
    font-style: italic;
}