.App {
  text-align: center;
}

.contador {
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 150px;
  padding: 100px;
  border-radius: 50%;
}